{% extends "index.html" %}

{% block title %} Gráfico {% endblock %}


{% block content %}
<h1>Gráfico de Vendas</h1>

<canvas id="BarChart" width="700" height="500"></canvas>
<!--
   HERE IS TO CREATE A GRAPHIC
-->
<script>
   var ctx = document.getElementById('BarChart').getContext("2d")
   
   var barChart = new Chart(ctx, {
      type: 'bar',
      data: {
         labels: {{labels | safe}},
         datasets: [
            {
               label: "Gráfico de Vendas",
               data: {{values | safe}},
               BorderColor: "rgb(0,0,0)",
               backgroundColor: "rgb(0,0,0)",
               borderWidth: 0
            }
         ]
      },
      options: {
         responsive: false
      }
   })

</script>


{% endblock %}
