{% extends "index.html" %}

{% block title %} Cadastrar {% endblock %}


{% block content %}

   {% with messages = get_flashed_messages() %}
      {% if messages %}
         <ul class="alert alert-danger">
            {% for message in messages %}
               <li>{{ message }}</li>
            {% endfor %}
         </ul>
   {% endif %}
   {% endwith %}






   <form action="/register" method="POST">
      <div class="mb-3">
         <label for="name" class="form-label">Nome do Produto:</label>
         <input type="text" class="form-control" id="name" name="name" placeholder="Digite o nome ...">
      </div>
      <div class="mb-3">
         <label for="price" class="form-label">Preço:</label>
         <input type="text" class="form-control" id="price" name="price" placeholder="Digite um preço ...">
      </div>
      <div class="mb-3 form-check">
         <input type="checkbox" class="form-check-input" id="retail"  value="ok" name="retail"> 
         <label class="form-check-label" for="retail">Varejo</label>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
   </form>



   <!-- <script>
      checkbox = document.getElementById('retail')
      console.log(checkbox)
      if(checkbox == 'on'){
         checkbox = true

      }else{
         checkbox = false
      }

   </script> -->
{% endblock %}
