{% extends "index.html" %}

{% block title %} Cadastrar {% endblock %}


{% block content %}
   <form action="/register" method="POST">
      <div class="mb-3">
         <label for="name" class="form-label">Nome do Produto:</label>
         <input type="text" class="form-control" id="name" name="name" placeholder="Digite o nome ...">
         <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
         <label for="price" class="form-label">Preço:</label>
         <input type="text" class="form-control" id="price" name="price" placeholder="Digite um preço ...">
      </div>
      <div class="mb-3 form-check">
         <input type="checkbox" class="form-check-input" id="retail" name="retail" > 
         <label class="form-check-label" for="retail">Varejo</label>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
   </form>
{% endblock %}
